{% load static %}
				<!-- Sidebar/left column -->
                <section id="sidebar">

                    <!-- Intro -->
                        <section id="intro">
                            <a href="#" class="logo"><img src="{% static 'images/logo.jpg' %}" alt="" /></a>
                            <header>
                                <h2>LOOK INSIDE YOURSELF</h2>
                                <!-- <p>Another fine responsive site template by </p> -->
                            </header>
                        </section>

                    <!-- Left menu -->
                    {% include 'html/left_menu.html' %}

                    <!-- About -->
                        <section class="blurb">
                            <h2>About</h2>
                            <p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod amet placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at phasellus sed ultricies.</p>
                            <ul class="actions">
                                <li><a href="#" class="button">Learn More</a></li>
                            </ul>
                        </section>

                    <!-- Footer -->
                    <!-- <section id="footer">
                        <ul class="icons"> -->
                            <!-- <li><a href="#" class="fa-twitter"><span class="label">Twitter</span></a></li>
                            <li><a href="#" class="fa-facebook"><span class="label">Facebook</span></a></li>
                            <li><a href="#" class="fa-instagram"><span class="label">Instagram</span></a></li> -->
                            <!-- <li><a href="#" class="fa-rss"><span class="label">RSS</span></a></li>
                            <li><a href="#" class="fa-envelope"><span class="label">Email</span></a></li>
                        </ul>
                        <p class="copyright">&copy; LOOK INSIDE YOURSELF.</p>
                    </section> -->

                </section>